.complexcontainer{
    display: grid;
    grid-template-areas:
    'item1 item1 item1 item2 item2 item2 item2 item2 item2 item2'
    'item1 item1 item1 item3 item3 item4 item4 item5 item5 item5'
    'item1 item1 item1 item6 item7 item8 item9 item9 item10 item10'
    'item1 item1 item1 item11 item11 item11 item9 item9 item10 item10'
    'item1 item1 item1 item12 item12 item13 item13 item13 item14 item14'
    'item1 item1 item1 item15 item16 item17 item18 item18 item18 item18'
    'item19 item19 item19 item19 item19 item19 item19 item19 item19 item19'
    ;
    height:90vh;
    .item1 {
        grid-area: item1;
        border: 1px solid black;

    }

    .item2 {
        grid-area: item2;
        border: 1px solid black;
    }

    .item3 {
        grid-area: item3;
        border: 1px solid black;
    }

    .item4 {
        grid-area: item4;
        border: 1px solid black;
    }

    .item5 {
        grid-area: item5;
        border: 1px solid black;
    }

    .item6 {
        grid-area: item6;
        border: 1px solid black;
    }

    .item7 {
        grid-area: item7;
        border: 1px solid black;
    }

    .item8 {
        grid-area: item8;
        border: 1px solid black;
    }

    .item9 {
        grid-area: item9;
        border: 1px solid black;
    }

    .item10 {
        grid-area: item10;
        border: 1px solid black;
    }

    .item11 {
        grid-area: item11;
        border: 1px solid black;
    }

    .item12 {
        grid-area: item12;
        border: 1px solid black;
    }

    .item13 {
        grid-area: item13;
        border: 1px solid black;
    }
    .item14 {
        grid-area: item14;
        border: 1px solid black;
    }

    .item15 {
        grid-area: item15;
        border: 1px solid black;
    }

    .item16 {
        grid-area: item16;
        border: 1px solid black;
    }

    .item17 {
        grid-area: item17;
        border: 1px solid black;
    }

    .item18 {
        grid-area: item18;
        border: 1px solid black;
    }

    .item19 {
        grid-area: item19;
        border: 1px solid black;
    }
}
